.testimonios-section {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;

  height: 100vh;       
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.contenedor-testimonios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  flex-grow: 1;
  align-items: center;
}

.testimonio {
  max-width: 300px;
  text-align: left;
  position: relative;
}

.comillas {
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
}

.subtitulo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
}

.mensaje {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.autor {
  font-size: 0.85rem;
  color: #ccc;
}
