<section class="sabores">
  <div class="content">
    <div class="texto">
      <h2>SABORES DE ITALIA</h2>
      <p>
        Italia es un crisol de tradiciones, como nuestras pizzas pueden atestiguar.  
        ¡Da un mordisco y saborea la dolce vita!
      </p>
    </div>

    <div class="imagenes">
    <div class="item">
        <img src="/assets/img/aperitivo.jpeg" alt="Aperitivo" />
        <p>APERITIVOS<br />CASEROS Y SABROSOS</p>
    </div>
    <div class="item">
        <img src="/assets/img/plato.jpeg" alt="Plato principal" />
        <p>PIZZAS<br />ARTESANALES<br />Y CRUJIENTES</p>
    </div>
    <div class="item">
        <img src="/assets/img/postre.jpeg" alt="Postre" />
        <p>POSTRES<br />IRRESISTIBLES</p>
    </div>
    </div>
  </div>
</section>
